body {
  background-color: #748F11;
    backface-visibility: hidden;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

h2, h3, label, li, p {
  font-family: 'Ubuntu', sans-serif;
}

hr { width:100%;
  height:1px;
  background: #20265A;
}

label {
  font-size: 120%;
}

li {
  list-style-type: none;
  font-size: 150%;
}

.checkout-screen, .final, .order, .order-form, .summary {
  display: none;
}

.jumbotron {
  color: yellow;
  border: 4px solid yellow;
}

.topping {
  font-family: 'Ubuntu', sans-serif;

}

.btn-block, .btn-lg {
  background-color: #20265A;
  color: yellow;
}

.panel {
  background: yellow;
}

.panel-heading {
  background-color: #20265A;
  color: yellow;
}

.price {
  color: yellow;
}


.begin {
  width: 400px;
  color: yellow;
}

.finalprompt, .final {
  text-align: center;
  color: yellow;
}

input[type="text"] {
  background: #748F11;
  border: none;
}
