h1 {
  font-family: 'Luckiest Guy', cursive;
}

h3, p {
  font-family: 'Ubuntu', sans-serif;
}

label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 120%;
  margin: 5px;
}

.checkout-screen, .final, .order, .order-form, .summary {
  display: none;
}

.jumbotron {
  color: yellow;
  background-color: black;
}
