body {
  background-color: #748F11;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

h2, h3, li, p {
  font-family: 'Ubuntu', sans-serif;
}

label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 120%;
  margin: 5px;
}

.checkout-screen, .final, .order, .order-form, .summary {
  display: none;
}

.jumbotron {
  color: yellow;
  background-image: url("header.jpg");
}

.topping {
  font-family: 'Ubuntu', sans-serif;

}

.btn-block, .btn-lg {
  background-color: #20265A;
  color: yellow;
}

.panel {
  background: #DE685D;
}

.panel-title {
  background: #CC9B08;
}
